* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(gray, black);
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
  background-color: gray;
  padding-left: 5%;
  filter: opacity(70%);
  z-index: 10;
}

.nav {
  display: inline-block;
  margin-right: 10%;
  margin-top: 6px;
  float: left;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  transition: background-color, 1s;
  border-radius: 5px;
  padding: 3px;
}

.nav:hover {
  background-color: rgba(200, 200, 200, 0.7);
}

a {
color: whitesmoke;
text-decoration: none;
border-radius: 5px;
}

a:hover {
color: white;

}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  filter: brightness(30%);
  filter: blur(360px);
  filter: opacity(30%);
}

#main-container {
  position: relative;
  display: inline-block;
  top: 23%;
  
  padding-top: 1em;
  color: whitesmoke;
  
  width: 100%;
  height: 30%;
}


h1 {
font-size: 1.8em;
}
.upload {
  background: linear-gradient(#444, #454);
  width: 15em;
  padding-top: 1em;
  height: 17em;
  border: dashed 1px gray;
  display: inline-block;
  margin: 0 5% 0 5%;
}

button {
  display: inline-block;
}

img {
margin-top: 1em;
display: inline-block;
  height: 8em;
  filter: opacity(0.2);
}

h2 {
margin-top: 1.5em;
font-size: 20px;
}

.upload:hover {
filter: brightness(120%);
}

.line {
height: 1em;
position: relative;
}

.inputrect {
position: relative;
top: 0.35em;
  display: inline-block;
  width: 30%;
  background-color: #AAA;
  border: dotted 1px gray;
  height: 1.2em;
}